* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 15px;
}
body {
    width: 100vw;
    height: 100vh;
}

body * {
    border: 1px solid black;
    
}
.container { 
    width: 1200px;
    margin: auto;
}
.Header {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.Navigation {
    margin-left: auto;
    font-size: 1.8rem;
}
.Navigation__link {
    font-size: 1.3em;
}
.App {
    height: calc(100% - 70px - 70px);
    display: flex;

}
.Sidebar {
    width: 29rem;
    
}
.Content {
    width: calc(100% - 29rem);
    
}
.Footer {
    height: 70px;
    
}